/* Page  Stylesheet
 *
 * Extra styles for sub pages */
.ratingTool iframe
{
  margin-top: 10px;
	float: right;
	width: 760px;
	height: 400px;
}

.chickens iframe
{
  margin-top: 10px;
	float: right;
	width: 760px;
	height: 300px;
}
